@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

:root {
    /* colors here */
}

html, body {
    min-height: 100vh;
    width: 100%;
    font-family: "Archivo", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
}

h1 {
    font-size: 40px;
    margin: 0;
    padding: 8px 0;
}

h2 {
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
    font-size: 18px
}

p {
    margin: 0;
    font-size: 14px;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-bottom: 1px solid gray;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* box-shadow: 0px 2px black; */
}

main {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.games-section {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.game-card {
    height: 400px;
    padding: 0;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px black;;
    transition: 200ms;
    position: relative;
    overflow: hidden;
}

.game-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 200ms;
}

.game-card-content {
    padding: 20px;
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: black;
    opacity: 0;
    transition: 500ms;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
    width: 100%;
}

.game-card-content p {
    margin-bottom: 10px;
}

.game-card-content .play-link {
    align-self: flex-end;
    padding: 8px 14px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 14px;
    background-color: green;
    color: white;
}

.game-card:hover img {
    transform: scale(1.2);
}

.game-card:hover .game-card-content {
    opacity: 0.9;
}

.game-card:hover .game-card-content a {
    opacity: 1;
}

.game-card img:hover {
    filter: blur(1px);
}

footer {
    width: 100%;
    margin-top: auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
}

footer p {
    font-size: 16px;
}

.left {
    margin-left: auto;
}

.right {
    margin-right: auto;
}

.top {
    margin-top: auto;
}

.bottom {
    margin-bottom: auto;
}


@media screen and (max-width: 640px) {
    header h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 16px
    }
    
    footer p {
        font-size: 12px;
    }
    
    a {
        padding: 4px;
        font-size: 16px;
    }

    .games-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .game-card {
        height: 180px;
        width: 95%;
    }

    .game-card img {
        top: 0%;
    }

    .game-card-content {
        padding: 8px 4px;
    }

    .left {
        margin-left: 0;
    }

    .right {
        margin-right: 0;
    }

    .top {
        margin-top: 0;
    }

    .bottom {
        margin-bottom: 0;
    }

    footer {
        padding: 10px 0;
    }
}