.game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-section h1 {
    font-size: 40px;
    padding: 24px 0;
}

.game-board {
    display: grid;
    border: 2px solid gray;
}

.game-tile {
    height: 120px;
    width: 120px;
    border: 2px solid gray;
    background-color: lightgray;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-tile.revealed {
    animation: horizontal-flip 0.25s ease-in forwards;
}

@keyframes horizontal-flip {
    0% {
        transform: rotateY(0deg);
        background-color: lightgray;
    }

    50% {
        transform: rotateY(90deg);
        background-color: lightgray;
    }

    100% {
        transform: rotateY(180deg);
        background-color: white;
    }
}