main {
    padding: 20px 0;
}

header {
    /* padding: 0 20px; */
}

header .back-link {
    font-size: 32px;
    color: black;
    cursor: pointer;
    margin-left: 40px;
    margin-right: auto;
    /* justify-self: flex-start;
    align-self:  */
}

header .help-button {
    font-size: 32px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin: 0;
    margin-left: auto;
    margin-right: 40px;
    padding: 0;
    border: 0;
    font-weight: 800;
}

.wordle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wordle-section h1 {
    font-size: 40px;
    padding: 24px 0;
}

.wordle-section .row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.wordle-section input {
    height: 80px;
    width: 80px;
    border: 2px solid gray;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.wordle-section input:focus {
    outline: none !important;
    border: 2px solid green;
}

.submit-button, .restart-button, .close-help-button {
    font-size: 20px;
    margin-top: 40px;
    padding: 10px 80px;
    border-radius: 15px;
    cursor: pointer; 
    background-color: white;
}

.submit-button:hover, .restart-button:hover, .close-help-button:hover {
    background-color: lightgray;
}

.submit-button:active, .restart-button:active, .close-help-button:active {
    background-color: gray;
}

.wordle-section .correct-letter {
   --flip-color: green;
    /* background-color: green;
    border-color: green; */
    color: white;
    animation: vertical-flip 0.5s ease-in forwards;
}

.wordle-section .wrong-position {
    --flip-color: yellow;
    /* background-color: yellow;
    border-color: yellow; */
    color: white;
    animation: vertical-flip 0.5s ease-in forwards;
}

.wordle-section .wrong-letter {
    --flip-color: gray;
    /* background-color: gray;
    border-color: gray; */
    color: white;
    animation: vertical-flip 0.5s ease-in forwards;
}

@keyframes vertical-flip {
    0% {
        transform: rotateY(0deg);
    }

    /* 50% {
        transform: rotateY(180deg);
        background-color: var(--flip-color);
        border-color: var(--flip-color);
    } */

    100% {
        transform: rotateY(360deg);
        background-color: var(--flip-color);
        border-color: var(--flip-color);
    }
}

footer {
    background-color: white;
    color: black;
}

/* Popups */

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.5s ease-in-out;
    width: 320px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 40px;
    z-index: 10;
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.help-content p {
    margin: 5px 0;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal h2 {
    font-size: 24px;
}

.modal p {
    font-size: 16px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 0.5s ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: darkgray;
    pointer-events: none;
}

#overlay.active {
    opacity: 0.8;
    pointer-events: all;
}

@media screen and (max-width: 720px) {
    header .back-link {
        margin-left: 10px;
    }
    
    header .help-button {
        margin-right: 10px;

    }
}