.wordle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wordle-section h1 {
    font-size: 40px;
    padding: 24px 0;
}

.wordle-section .row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.wordle-section input {
    height: 80px;
    width: 80px;
    border: 3px solid gray;
    background-color: white;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.wordle-section input:focus {
    outline: none !important;
    border: 3px solid black;
}

.submit-button, .restart-button {
    font-size: 20px;
    margin-top: 40px;
    padding: 10px 80px;
    border-radius: 15px;
    cursor: pointer; 
    background-color: white;
}

.submit-button:hover, .restart-button:hover {
    background-color: lightgray;
}

.submit-button:active, .restart-button:active {
    background-color: gray;
}

.wordle-section .correct-letter {
   --flip-color: green;
    color: white;
    animation: horizontal-flip 0.5s ease-in forwards;
}

.wordle-section .wrong-position {
    --flip-color: orange;
    color: white;
    animation: horizontal-flip 0.5s ease-in forwards;
}

.wordle-section .wrong-letter {
    --flip-color: gray;
    color: white;
    animation: horizontal-flip 0.5s ease-in forwards;
}

@keyframes horizontal-flip {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
        background-color: var(--flip-color);
        border-color: var(--flip-color);
    }
}
